html,body {
  background-color: #fff;
  overflow-x: hidden!important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: mona;
}

@font-face {
  font-family: mona;
  src: url("./Mona-Sans-Medium.ttf");
}

@font-face {
  font-family: mag;
  src: url("./Magiona-Display.ttf");
}

a {
  text-decoration: none!important;
}

@media (max-width: 767.98px){
  .desktop {
    display: none!important;
  }
}

@media (min-width: 992px){
  .mobile {
    display: none!important;
  }
}

.no-caret .dropdown-toggle::after {
  display: none;
}

.btn-main {
  background-color: #0C6B8A;
  border: #0C6B8A;
  font-size: 14px;
  padding-left: 60px!important;
  font-weight: 500;
  padding-right: 60px!important;
}

.btn-main:hover {
  background-color: #0A5770;
  border: #0A5770;
  font-size: 14px;
  padding-left: 60px!important;
  font-weight: 500;
  padding-right: 60px!important;
}

.btn-main:active {
  background-color: #0A5770!important;
  border: #0A5770;
  font-size: 14px;
  padding-left: 60px!important;
  font-weight: 500;
  padding-right: 60px!important;
}

.header .nav-link {
  color: #1E2C31;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
}

.header .nav-link:hover {
  color: #116B89;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
}

@media (min-width: 992px){
  .header .nav-link  {
    margin-left: 40px;
  }
}

@media (min-width: 992px){
  .globe {
    margin-top: 9px;
    margin-left: 20px;
  }
}

.banner {
  padding: 150px 20px 0px 20px;
  background-image: url("./assets/bg-hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h6 {
  color: #6B7280;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.banner h1, 
.discovery h1,
.learn h1,
.goals h1, 
.join-stack h1,
.partners h1 {
  font-family: mag;
  font-size: 65px;
  font-weight: 400;
  line-height: 80px;
  color: #1E2C31;
}

.all-in-one {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(91.8deg, #0C6B8A 4.78%, #FFCC00 97.92%)!important;
  -webkit-background-clip: text!important;
}

.getstarted {
  padding: 100px 20px;
  background-image: url("./assets/getstarted.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.getstarted h4, 
.discovery h4,
.partners h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 6px;
  color: #1E2C31;
  text-transform: uppercase;
}

.getstarted h2 {
  font-family: mag;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  color: #fff;
}

.getstarted h3 {
  font-family: mag;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #fff;
}

.mt-9 {
  margin-top: 90px;
}

@media (min-width: 992px){
  .getstarted h5 {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FBBF24;
    margin-left: 91px;
    text-align: left;
    padding-left: 12px;
    font-size: 14px;
    border: 0;
    color: #fff;
    border-radius: 3px
  }
}

.discovery {
  padding: 100px 20px;
  background-color: #fff;
}

.pro {
  background: linear-gradient(91.86deg, #0C6B8A 8.57%, #FFCC00 104.06%);
  border-radius: 0px 50px 50px 50px;
  padding: 11px 24px;
  margin-left: -24px;
  color: #fff;
}

.discovery h1::after {
  content: url("./assets/line.svg");
  position: relative;
  top: -13px;
  margin-left: 30px;
}

.learn {
  padding: 100px 20px;
  background-image: url("./assets/learnbg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wfy {
  background: #13403178;
  padding: 4px 20px;
  margin-left: -21px;
}

.learn h6 {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}

.slider-card {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.12) 100%);
  backdrop-filter: blur(200px);
  border-radius: 20px;
  padding: 60px 40px;
  border: 1px solid #FFCC00;
  min-height: 509px;
}

.slider-card h4,
.footer-top h4 {
  font-family: mag;
  color: #fff;
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
}

.slider-card p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@media (min-width: 992px){
  .mid {
    margin-left: -57px;
    margin-right: 43px;
  }

  .last {
    margin-left: -91px;
    margin-right: 43px;
  }
}

.unlocked {
  padding: 100px 20px 0px 20px;
}

.unlocked h3 {
  color: #1E2C31;
  font-size: 53px;
  font-weight: 300;
  line-height: 68px;
  text-transform: capitalize;
}

.unlocked h6,
.goals h6,
.join-stack h6,
.footer-top h6 {
  color: #1E2C31;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
}

.outline {
  border: 1px solid #FFCC00;
  padding: 14px 20px;
  border-radius: 40px;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg,#0C6B8A 70%,#FFCC00 100%)!important;
  -webkit-background-clip: text!important;
}

.goals {
  padding: 120px 20px;
  background-image: url("./assets/goal.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.join-stack {
  padding: 100px 20px;
  background: #F9F9F9;
}

.stack-card {
  padding: 110px 60px;
  background-image: url("./assets/blue.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.pr {
  background-image: url("./assets/purple.svg")!important;
}

.gr {
  background-image: url("./assets/green.svg")!important;
}

.stack-card h3 {
  font-size: 39px;
  font-weight: 400;
  line-height: 42px;
  font-family: mag;
}

.partners {
  padding: 100px 20px;
}

.footer-top {
  background-image: url("./assets/footertoop.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  margin: 0;
  padding: 100px 50px;
}

.footer-bottom {
  background: #F9F9F9;
  margin-top: -100px;
  padding: 150px 20px 60px;
}

.footer-bottom h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  color: #000;
}

.subscribe .btn {
  min-height: 50px;
  border-radius: 0;
  background: #116B89;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  border-radius: 0px 100px 100px 0px;
  padding: 15px 30px;
}

.subscribe .btn:hover {
  min-height: 50px;
  border-radius: 0;
  background: #0A5770;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  border-radius: 0px 100px 100px 0px;
  padding: 15px 30px;
}

.subscribe .form-control {
  height: 50px;
  border-color: #ffffff;
  color: #C4C4C4;
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  border: 1px solid #D9D9D9;
  border-radius: 100px;
  padding: 21px 28px;
}

.subscribe .form-control:focus {
  box-shadow: none;
  border: 1px solid #116B89;
}

.navigation{
  margin-top: 70px;
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 60px;
}

.navigation h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  color: #000;
  margin-bottom: 20px;
}

.navigation h4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
  color: #000;
}

.navigation a {
  color: #6F6F6F;
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
}

.navigation a:hover {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
}

.copyright {
  padding: 25px 0;
}

.copyright h6 {
  color: #6F6F6F;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.list-unstyled {
  padding-left: 0;
}

@media (min-width: 992px){
  .globe-menu {
    min-width: 350px!important;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    padding: 30px 30px;
    margin-left: -260px;
  }
}

@media (min-width: 992px){
  .product-menu {
    min-width: 1000px!important;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    padding: 30px 30px;
    background-image: url("./assets/bg-pro.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 992px){
  .company-menu {
    min-width: 300px!important;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    padding: 30px 30px;
  }
}


@media (min-width: 992px){
  .solution-menu {
    min-width: 900px!important;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    padding: 30px 50px;
  }
}

.title-header p {
  color: #9CA3AF;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

.title-header h4 {
  color: #1E2C31!important;
  font-size: 14px!important;
  font-weight: 500!important;
  line-height: 17px!important;
}

.solution-menu h4,
.company-menu h4 {
  color: #1E2C31;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.solution-menu a,
.company-menu a {
  color: #6F6F6F;
  font-size: 12px;
  font-weight: 400;
  line-height: 36px;
}

.solution-menu a:hover,
.company-menu a:hover {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 36px;
}

.solution-menu p,
.product-menu p {
  color: #6B7280;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.company a:hover {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 36px;
  background: #F9F9F9;
  border-radius: 10px;
}

.product-menu img:hover {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 15px;
}

.product-menu img {
  padding: 15px;
}