.mobilefood {
  background: #000;
  padding: 100px 20px;
}

.foodcredit {
  background: #EBFAEC;
  padding: 100px 20px;
}

.mobilefood p,
.foodcredit p,
.foodhero p,
.credsalary p,
.hr-card p,
.hrhero p,
.seamless p,
.spayment p,
.inno p {
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  color: #1E2C31;
}

.foodcredit h2 {
  font-size: 65px;
  font-weight: 400;
  line-height: 75px;
  font-family: mag;
  color: #000;
}

.foodhero {
  padding: 150px 0px;
  background-color: #fff;
}

.foodhero h2,
.hr-card h3 {
  font-size: 65px;
  font-weight: 400;
  line-height: 75px;
  font-family: mag;
  color: #000;
}

.credsalary h2 {
  font-size: 70px;
  font-weight: 400;
  line-height: 80px;
  font-family: mag;
  color: #000;
}

.credsalary {
  padding: 150px 20px;
  background-image: url("./assets/cred.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 992px){
  .hr-card {
    padding: 70px 90px;
    min-height: 546px;
  }
}

@media (max-width: 767.98px){
  .hr-card {
    padding: 70px 30px;
  }
}

.onscurd {
  background-image: url("./assets/scurd.svg")!important;
}

.onscurd h4 {
  font-size: 40px;
  font-weight: 600;
  line-height: 80px;
  color: #000;
}

@media (min-width: 992px){
  .hrhero {
    padding: 250px 20px 390px 20px;
    background-image: url("./assets/hr-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 767.98px){
  .hrhero {
    padding: 250px 20px;
    background-color: #fff;
  }

}

.hrhero h2 {
  font-size: 80px;
  font-weight: 400;
  line-height: 80px;
  font-family: mag;
  color: #000;
}

@media (min-width: 992px){
  .hhero {
    margin-top: -100px;
  }
}

.seamless {
  padding: 150px 20px;
  background-image: url("./assets/seamlessbg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spayment {
  background: linear-gradient(180deg, rgba(0, 134, 87, 0.1) 0%, rgba(255, 230, 0, 0.1) 100%);
  padding: 150px 20px;
}

.inno {
  padding: 150px 20px;
  background-color: #fff;
}

.logistichero {
  padding: 200px 20px;
}

.logistichero p {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #1E2C31;
}


.startuphero {
  background-color: #fff;
  padding: 200px 20px;
}

.startuphero h2 {
  font-size: 62px;
  font-weight: 400;
  line-height: 70px;
  font-family: mag;
  color: #000;
}

.startuphero h6,
.benefit-partner p {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #000;
}

.tellus {
  background: linear-gradient(85.3deg, rgba(0, 172, 16, 0.1) 9.48%, rgba(2, 166, 176, 0.1) 87.92%);
  padding: 150px 20px;
}

.tellus h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  font-family: mag;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(91.8deg, #000 4.78%, #6CEF3A 97.92%)!important;
  -webkit-background-clip: text!important;
}

.tellus h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #1E2C31;
}

.tellus p {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #1E2C31;
  min-height: 73px;
}

.benefit-partner {
  padding: 200px 20px;
  background-image: url("./assets/backpartner.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.benefit-partner h2,
.faq h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 75px;
  font-family: mag;
  color: #000;
}

.green-card {
  background: linear-gradient(85.3deg, #00AC10 9.48%, #02A6B0 87.92%);
  box-shadow: 0px 10px 90px rgba(255, 255, 255, 0.35);
  border-radius: 4px;
  padding: 60px 50px;
  border: 1.5px solid transparent;
}

.green-card:hover {
  background: linear-gradient(85.3deg, #00AC10 9.48%, #02A6B0 87.92%);
  box-shadow: 0px 10px 90px rgba(255, 255, 255, 0.35);
  border-radius: 4px;
  padding: 60px 50px;
  border: 1.5px solid #fff;
  cursor: pointer;
}

.green-card h6 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.green-card p {
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
}

.faq {
  background: linear-gradient(85.3deg, rgba(0, 172, 16, 0.1) 9.48%, rgba(2, 166, 176, 0.1) 87.92%);
  padding: 150px 20px;
}

.explorepotential {
  background: #fff;
  padding: 100px 20px;
}

.faq-foot {
  background-image: url("./assets/potential.svg")!important;
}

.faq .accordion-button {
  margin-bottom: 0;
  font-family: 'mona';
  font-size: 14px;
  line-height: 24px;
  color: #1E2C31;
}

.faq .accordion-body {
  font-size: 12px;
  padding: 40px 20px;
}

.accordion-button::after {
  background-image: url("./assets/pluss.svg")!important;
}

.bespeaker {
  background-color: #fff;
  padding: 100px 20px;
}

.bespeaker h2,
.buildingsus h2,
.upcoming h2,
.past-web h2{
  font-size: 41px!important;
  font-weight: 400!important;
  line-height: 45px!important;
  font-family: mag!important;
  color: #000;
}

.bespeaker p,
.buildingsus p,
.upcoming p,
.webinar-card h4,
.past-web p,
.webinarhero h6 {
  font-size: 12px!important;
  font-weight: 500!important;
  line-height: 22px!important;
}

.buildingsus {
  padding: 100px 20px;
  background-image: url("./assets/build.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.closed {
  background: #132A53;
  padding: 8px 16px;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

.buildingsus h6,
.past-web h6 {
  font-size: 12px!important;
  font-weight: 700!important;
  line-height: 22px!important;
}

.buildingsus h3,
.webinar-card h5,
.past-web h3{
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

.buildingsus h4,
.webinar-card h3,
.past-web h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #000;
}

.upcoming {
  background-color: #eff5f9;
  padding: 100px 20px;
}

.webinar-card {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 60px 30px;
}

.btn-closed {
  background-color: #F1F1F1;
  color: #000;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  border-color: #F1F1F1;
}

.brd {
  border: 1px solid #000;
}

.live-card {
  padding: 50px 20px;
  background-color: #FAFAFA;
}

.webinarhero {
  padding: 150px 20px;
  background-image: url("./assets/webbg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.webinarhero h2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  color: #000;
  font-family: mag;
}