.mobilefood {
  background: #000;
  padding: 100px 20px;
}

.foodcredit {
  background: #EBFAEC;
  padding: 100px 20px;
}

/* .foodcredit {
  background: #EBFAEC;
  padding: 211px 20px;
  margin-top: -161px;
} */

.mobilefood p,
.foodcredit p,
.foodhero p {
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  color: #1E2C31;
}

.foodcredit h2 {
  font-size: 65px;
  font-weight: 400;
  line-height: 75px;
  font-family: mag;
  color: #000;
}

.foodhero {
  padding: 150px 0px;
  background-color: #fff;
}

.foodhero h2 {
  font-size: 65px;
  font-weight: 400;
  line-height: 75px;
  font-family: mag;
  color: #000;
}