.mobilefood {
  background: #000;
  padding: 100px 20px;
}

.foodcredit {
  background: #EBFAEC;
  padding: 100px 20px;
}

.mobilefood p,
.foodcredit p,
.foodhero p,
.credsalary p,
.hr-card p,
.hrhero p,
.seamless p,
.spayment p,
.inno p,
.stack-ivy h6,
.experience h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  color: #1E2C31;
}

.foodcredit h2 {
  font-size: 65px;
  font-weight: 400;
  line-height: 75px;
  font-family: mag;
  color: #000;
}

.foodhero {
  padding: 150px 0px;
  background-color: #fff;
}

.foodhero h2,
.hr-card h3 {
  font-size: 65px;
  font-weight: 400;
  line-height: 75px;
  font-family: mag;
  color: #000;
}

.credsalary h2 {
  font-size: 70px;
  font-weight: 400;
  line-height: 80px;
  font-family: mag;
  color: #000;
}

.credsalary {
  padding: 150px 20px;
  background-image: url("./assets/cred.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 992px){
  .hr-card {
    padding: 70px 90px;
    min-height: 546px;
  }
}

@media (max-width: 767.98px){
  .hr-card {
    padding: 70px 30px;
  }
}

.onscurd {
  background-image: url("./assets/scurd.svg")!important;
}

.onscurd h4 {
  font-size: 40px;
  font-weight: 600;
  line-height: 80px;
  color: #000;
}

@media (min-width: 992px){
  .hrhero {
    padding: 250px 20px 390px 20px;
    background-image: url("./assets/hr-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 767.98px){
  .hrhero {
    padding: 250px 20px;
    background-color: #fff;
  }

}

.hrhero h2 {
  font-size: 80px;
  font-weight: 400;
  line-height: 80px;
  font-family: mag;
  color: #000;
}

@media (min-width: 992px){
  .hhero {
    margin-top: -100px;
  }
}

.seamless {
  padding: 150px 20px;
  background-image: url("./assets/seamlessbg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spayment {
  background: linear-gradient(180deg, rgba(0, 134, 87, 0.1) 0%, rgba(255, 230, 0, 0.1) 100%);
  padding: 150px 20px;
}

.inno {
  padding: 150px 20px;
  background-color: #fff;
}

.logistichero {
  padding: 200px 20px;
}

.logistichero p,
.careers-hero h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #1E2C31;
}


.startuphero {
  background-color: #fff;
  padding: 200px 20px;
}

.startuphero h2 {
  font-size: 62px;
  font-weight: 400;
  line-height: 70px;
  font-family: mag;
  color: #000;
}

.startuphero h6,
.benefit-partner p {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #000;
}

.tellus {
  background: linear-gradient(85.3deg, rgba(0, 172, 16, 0.1) 9.48%, rgba(2, 166, 176, 0.1) 87.92%);
  padding: 150px 20px;
}

.tellus h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  font-family: mag;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(91.8deg, #000 4.78%, #6CEF3A 97.92%)!important;
  -webkit-background-clip: text!important;
}

.tellus h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #1E2C31;
}

.tellus p {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #1E2C31;
  min-height: 73px;
}

.benefit-partner {
  padding: 200px 20px;
  background-image: url("./assets/backpartner.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.benefit-partner h2,
.faq h2,
.support-faq h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 75px;
  font-family: mag;
  color: #000;
}

.green-card {
  background: linear-gradient(85.3deg, #00AC10 9.48%, #02A6B0 87.92%);
  box-shadow: 0px 10px 90px rgba(255, 255, 255, 0.35);
  border-radius: 4px;
  padding: 60px 50px;
  border: 1.5px solid transparent;
}

.green-card:hover {
  background: linear-gradient(85.3deg, #00AC10 9.48%, #02A6B0 87.92%);
  box-shadow: 0px 10px 90px rgba(255, 255, 255, 0.35);
  border-radius: 4px;
  padding: 60px 50px;
  border: 1.5px solid #fff;
  cursor: pointer;
}

.green-card h6 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.green-card p {
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
}

.faq {
  background: linear-gradient(85.3deg, rgba(0, 172, 16, 0.1) 9.48%, rgba(2, 166, 176, 0.1) 87.92%);
  padding: 150px 20px;
}

.explorepotential {
  background: #fff;
  padding: 100px 20px;
}

.faq-foot {
  background-image: url("./assets/potential.svg")!important;
}

.faq .accordion-button {
  margin-bottom: 0;
  font-family: 'mona';
  font-size: 14px;
  line-height: 24px;
  color: #1E2C31;
}

.support-faq .accordion-button {
  margin-bottom: 0;
  font-family: 'mona';
  font-size: 14px;
  line-height: 24px;
  color: #1E2C31;
  background-color: #F9FAFB;
}

.faq .accordion-body {
  font-size: 12px;
  padding: 40px 20px;
}

.support-faq .accordion-body {
  font-size: 12px;
  padding: 40px 20px;
}

.accordion-button::after {
  background-image: url("./assets/pluss.svg")!important;
}

.bespeaker {
  background-color: #fff;
  padding: 100px 20px;
}

.bespeaker h2,
.buildingsus h2,
.upcoming h2,
.past-web h2{
  font-size: 41px!important;
  font-weight: 400!important;
  line-height: 45px!important;
  font-family: mag!important;
  color: #000;
}

.bespeaker p,
.buildingsus p,
.upcoming p,
.webinar-card h4,
.past-web p,
.webinarhero h6 {
  font-size: 12px!important;
  font-weight: 500!important;
  line-height: 22px!important;
}

.buildingsus {
  padding: 100px 20px;
  background-image: url("./assets/build.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.closed {
  background: #132A53;
  padding: 8px 16px;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

.buildingsus h6,
.past-web h6 {
  font-size: 12px!important;
  font-weight: 700!important;
  line-height: 22px!important;
}

.buildingsus h3,
.webinar-card h5,
.past-web h3{
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

.buildingsus h4,
.webinar-card h3,
.past-web h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #000;
}

.upcoming {
  background-color: #eff5f9;
  padding: 100px 20px;
}

.webinar-card {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 60px 30px;
}

.btn-closed {
  background-color: #F1F1F1;
  color: #000;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  border-color: #F1F1F1;
}

.brd {
  border: 1px solid #000;
}

.live-card {
  padding: 50px 20px;
  background-color: #FAFAFA;
}

.webinarhero {
  padding: 150px 20px;
  background-image: url("./assets/webbg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.webinarhero h2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  color: #000;
  font-family: mag;
}

.ard-prod {
  padding: 100px 60px;
  background-image: url("./assets/ardpro.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px 0px 0px 0px;
}

.ard-prod h1,
.open-position h2 {
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  font-family: mag;
}

.ard-prod p {
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
}

.ard-prod h4 {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.harbg {
  background-image: url("./assets/harbg.svg")!important;
  border-radius: 0px 30px 30px 30px!important;
}

.needhelp {
  background-color: #fff;
  padding: 150px 20px;
}

.needhelp h2,
.stack-ivy h2 {
  font-size: 65px;
  font-weight: 400;
  line-height: 69px;
  font-family: mag;
  color: #000000;
}

.needhelp p {
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  color:#1E2C31;
}

.stack-ivy {
  padding: 150px 20px;
  background-image: url("./assets/stackivy.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.experience {
  background-color: #fff;
  padding: 100px 20px;
}

.support-faq {
  padding: 100px 20px;
}

.accordion-item:not(:first-of-type) {
  border-top: 0;
  margin-top: 30px;
}

.accordion-item:first-of-type .accordion-button {
  border: 0px!important;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.accordion-item {
  border: 0px;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.keed-ardilla {
  background: #fff;
  padding: 100px 20px;
}

.keed-ardilla h4,
.tailored h4 {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
}

.keed-ardilla h2,
.tailored h2,
.paysolution h2,
.product-hero h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  font-family: mag;
  color: #000000;
}

.keed-ardilla p,
.tailored p,
.paysolution p,
.product-hero h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  color: #808080;
}

.tailored {
  padding: 100px 20px;
  background-image: url("./assets/sone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paysolution {
  padding: 100px 20px;
}

.pay-ment {
  background: linear-gradient(125.69deg, rgba(37, 99, 235, 0.1) -13.59%, rgba(53, 255, 73, 0.1) 168.79%);
  border-radius: 70px;
  color:#35FF49;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  padding: 14px 20px;
  text-transform: uppercase;
}

.credwealth {
  background: linear-gradient(117.04deg, rgba(37, 99, 235, 0.1) -13.79%, rgba(53, 255, 73, 0.1) 131.52%);
}

.product-hero {
  padding: 200px 20px;
}

.w-87 {
  width: 87%!important;
}

.about-hero {
  padding: 230px 20px;
  background-image: url("./assets/bg-about.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-hero h2 {
  font-size: 35px;
  font-weight: 400;
  line-height: 50px;
  font-family: mag;
}

.about-hero p,
.miss p,
.our-goal p {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #1E2C31;
}

.mis {
  background: linear-gradient(91.8deg, rgba(12, 107, 138, 0.2) 4.78%, #FFCC00 97.92%, rgba(255, 204, 0, 0.2) 101.92%);
  border-radius: 70px;
  font-size: 14px;
  color: #fff;
  line-height: 28px;
  font-weight: 500;
  padding: 12px 25px;
  text-transform: uppercase;
}

.miss {
  padding: 150px 20px;
  background: linear-gradient(89.82deg, rgba(12, 107, 138, 0.1) 5.42%, rgba(255, 204, 0, 0.1) 94.7%);
}

.miss h2 {
  font-size: 69px;
  font-weight: 400;
  line-height: 93px;
  font-family: mag;
}

@media (min-width: 992px){
  .mission-img {
    margin-top: -90px;
  }
}

.v-state {
  padding: 100px 20px;
}

.v-state h2 {
  font-size: 55px;
  font-weight: 400;
  line-height: 79px;
  font-family: mag;
}

.v-state p {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.vision-card {
  background-image: url("./assets/vision-state.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 60px;
  border-radius: 60px 60px 60px 0px;
}

.our-goal {
  background-image: url("./assets/goalbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
  margin-bottom: 140px;
}

.careers-hero {
  background-image: url("./assets/careerhero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 20px;
}

.careers-hero h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  font-family: mag;
}

.open-position {
  padding: 100px 20px;
  background-color: #fff;
}

.card-pos {
  padding: 40px 40px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 11px 11px 0px 0px #000;
  margin-bottom: 75px;
}

.card-pos p {
  color: #EF4444;
  font-size: 10px;
  line-height: 9px;
  font-weight: 500;
  margin: 0;
}

.card-pos h3 {
  color: #000;
  font-size: 20px;
  line-height: 19px;
  font-weight: 700;
}

.card-pos h4 {
  color: #000;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}

.on-site {
  background: #F0FDF4;
  padding: 6px 12px;
  font-size: 12px;
  color: #028231;
  border-radius: 3px;
  font-weight: 500;
}

.full-time {
  background: #EFF6FF;
  padding: 6px 12px;
  font-size: 12px;
  color: #0240C8;
  border-radius: 3px;
  font-weight: 500;
}

.btn-career,
.btn-career:hover {
  background: #808080;
  border-radius: 100px;
  border-color: #808080;
  padding: 16px 42px;
  font-size: 14px;
  font-weight: 500;
}